/* Color Scheme: black, ghostwhite, crimson */

body {
    margin: 0;
    background-color: ghostwhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: black;
}

/***********************
***** TOP NAV BAR ******
************************/
nav {
    overflow: hidden;
    background-color:black; /* #333; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}


/* Style the links inside the navigation bar */
nav a {
    display: inline-block;
    color: ghostwhite; /* #f2f2f2 */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the links inside the navigation bar upon hover action*/
nav a:hover {
    background-color: ghostwhite; /* #ddd */
    color: black;
  }
  
/* Style the active links inside the navigation bar */
nav a.active {
    background-color: crimson; /* #4CAF50; */
    color: ghostwhite;
    /* border-color: black; */
    /* outline: none; */
}

/* Style the hamburger button in navigation bar when the 
   screen is narrow */
nav button {
    display: none;
    border: 0;
    background-color: black;
    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
}

/* Style the hamburger button in navigation bar when the 
   screen is narrow and there is a hover action */
nav button:hover {
    background-color: ghostwhite; /* #ddd */
    color: black;
    /* text-decoration: none; */
}

nav button:focus {
    /* Remove the blue border that Chrome adds after clicking button */
    outline: none; 
}

/*****************************************************
***** MEDIA QUERIES FOR WHEN SCEEN SIZE CHANGES ******
******************************************************/

@media screen and (max-width: 600px) {
    /* Do this when the screen goes from narrow to wide */
    nav.topnav-inline a:not(:first-child) {display: none;}
    nav.topnav-inline a.active {display: inline-block;}
    nav.topnav-inline button {
        float: right;
        display: block;
    }

    /* Do these when the screen goes from wide to narrow */
    nav.topnav-dropdown {position: relative;}
    nav.topnav-dropdown button {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block
    }
    nav.topnav-dropdown a {
        float: none;
        display: block;
        text-align: left;
    }
}

main {
    padding: 5px 5px;

    background-color: tomato;
}

main {
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: tomato;
}

article {
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: teal;
}

section {
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: yellow;
}

aside {
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: lime;
}

header {
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: pink;
}

footer {
    padding: 5px 5px;
    margin: 5px 5px;
    background-color: purple;
}

/************************************
***** IMG TAG STYLES & ACTIONS ******
*************************************/

img {
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}